<ion-view view-title="{{prato.nome}}">
  <ion-nav-buttons>
    <button class="button button-icon icon ion-arrow-left-c" ng-click="buscarPratos()"></button>
  </ion-nav-buttons>
  
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar">
        <img ng-src="{{prato.cozinheiro.imagemUrl}}">
        <h2>{{prato.cozinheiro.nome}}</h2>
        <p>{{prato.cozinheiro.cidade}}</p>
      </ion-item>

      <ion-item class="item-image">
        <img ng-src="{{prato.imagemUrl}}">
      </ion-item>

      <ion-item class="item-icon-left assertive">
        <i class="icon ion-fork"></i>
        <h2>{{prato.nome}}</h2>
        <p>{{prato.descricao}}</p>
      </ion-item>
    </ion-list>

    <button class="button button-full button-secondary" ng-click="efetuarPedido()">
      Quero esse prato!
    </button>
  </ion-content>
</ion-view>
